@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "SFSports";
	src: local("SFSports"), url("./assets/fonts/SFSports.ttf");
	font-weight: bold
}
p {
  font-family: "Varela", sans-serif;
  font-size: 16px;
  padding: 20px 0 0 0;
}
h1,h2,h3 {
  font-family: "SFSports", sans-serif;
  font-size: 48px;
  line-height: 41px;
}
